<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Blaqueo de Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="clienteForm">
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>        
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Repita su Password</ion-label>
      <ion-input type="password" formControlName="repassword" placeholder="Password"></ion-input>        
    </ion-item>
  </form>
</ion-content>