<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-button slot="start" class="ion-no-padding" (click)="atras()">
      <ion-icon color="light" slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <h2 class="titulo"><ion-label>Alertas</ion-label></h2>
        <ion-card>
          <ion-label *ngIf="!!alertas && alertas?.length === 0">No hay alertas añadidas</ion-label>
          <ion-list *ngIf="!!alertas && !!alertas?.length" class="ion-margin-bottom">
            <ion-item *ngFor="let item of alertas; let i = index">
              <ion-label style="font-size: 0.7em;"><b>[{{item.Alarmasestado.nombre}}] - {{item.ClienteUsuario.nombres | titlecase}}</b><br>{{item.modelo_nombre}} #{{item.equipo_nro}}</ion-label>
              <ion-icon slot="end" name="pencil" color="primary" tappable (click)="editItem(item)"></ion-icon>
              <ion-icon slot="end" name="trash" color="danger" tappable (click)="deleteAlerta(item)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="nuevoItem()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <!--
      <ion-fab-button (click)="fileInput.click()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-fab-button>
      -->
      <ion-fab-button (click)="descargarCsv()">
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <!-- Hidden file input element --
  <input type="file" #fileInput (change)="onFileSelected($event)" accept=".csv" style="display:none;">
-->

</ion-content>
