
ion-card{
    margin-bottom: 0px!important;
}

ion-icon{
    height: 19px!important;
}

.remove_imagen{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.imagen{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}