<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-button slot="start" class="ion-no-padding" routerLink="/abm/usuarios-listar">
      <ion-icon color="light" slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Nuevo técnico </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="container">
      <ion-item-divider>
          <h5 *ngIf="!this.dataEditar">Nuevo técnico</h5> <br/>
          <h5 *ngIf="this.dataEditar">Datos del técnico: "{{this.dataEditar.nombres}}"</h5>
      </ion-item-divider>

      <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="6">
              <ion-list>
                <form [formGroup]='clienteForm'>
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input formControlName="nombres"></ion-input>
                  <div *ngFor="let error of errorMessages.nombres">
                    <ng-container *ngIf="nombres.hasError(error.type) && (nombres.dirty || nombres.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Apellido</ion-label>
                  <ion-input formControlName="apellido"></ion-input>
                  <div *ngFor="let error of errorMessages.apellido">
                    <ng-container *ngIf="apellido.hasError(error.type) && (apellido.dirty || apellido.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Cuil</ion-label>
                  <ion-input formControlName="cuit"></ion-input>
                  <div *ngFor="let error of errorMessages.cuit">
                    <ng-container *ngIf="cuit.hasError(error.type) && (cuit.dirty || cuit.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="email"></ion-input>
                  <div *ngFor="let error of errorMessages.email">
                    <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Reiniciar password</ion-label>
                  <ion-input formControlName="password"></ion-input>
                  <div *ngFor="let error of errorMessages.password">
                    <ng-container *ngIf="password.hasError(error.type) && (email.dirty || email.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
              </form>
              </ion-list>
              <ion-list>
                <ion-item detail="true" button="true">
                  <ion-label>Zona</ion-label>
                  <ionic-selectable 
                  headerColor="primary"
                  [isMultiple]="false"
                  [items]="zonasDisponibles" 
                  itemValueField="id" 
                  itemTextField="nombre" 
                  [canSearch]="true"
                  [(ngModel)]="zonaSeleccionada"
                  [ngModelOptions]="{standalone: true}"
                  closeButtonText="Cancelar"
                  confirmButtonText="Seleccionar"
                  searchPlaceholder="Buscar" 
                  placeholder="Seleccione una zona">
                  <ng-template ionicSelectableSearchFailTemplate>
                    <div padding>
                      No encontrado.
                    </div>
                  </ng-template>
                </ionic-selectable>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item>
                  <ion-label>Es administrador?</ion-label>
                  <ion-toggle [(ngModel)]="esAdmin" mode="ios"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" shape="round" color="success" (click)="submit()">Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
