<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-button slot="start" class="ion-no-padding" routerLink="/lineas-listar">
      <ion-icon color="light" slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Nueva línea </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='form'>
    <ion-card class="container">
      <ion-item-divider>
          <h5 *ngIf="!this.dataEditar">Nueva línea</h5> <br/>
          <h5 *ngIf="this.dataEditar">Datos de la línea: "{{this.dataEditar.nombre}}"</h5>
      </ion-item-divider>
    
      <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="6">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input formControlName="nombre"></ion-input>
                  <div *ngFor="let error of errorMessages.nombre">
                    <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item detail="true" button="true">
                  <ion-label>Marca</ion-label>
                  <ionic-selectable 
                  headerColor="primary"
                  [isMultiple]="false"
                  [items]="marcasDisponibles" 
                  itemValueField="id" 
                  itemTextField="nombre" 
                  [canSearch]="true"
                  [(ngModel)]="marcaSeleccionada"
                  [ngModelOptions]="{standalone: true}"
                  closeButtonText="Cancelar"
                  confirmButtonText="Seleccionar"
                  searchPlaceholder="Buscar" 
                  placeholder="Seleccione una linea">
                  <ng-template ionicSelectableSearchFailTemplate>
                    <div padding>
                      No encontrado.
                    </div>
                  </ng-template>
                </ionic-selectable>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Descripción</ion-label>
                  <ion-input formControlName="descripcion"></ion-input>
                  <div *ngFor="let error of errorMessages.descripcion">
                    <ng-container *ngIf="descripcion.hasError(error.type) && (descripcion.dirty || descripcion.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-item>
              </ion-list>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" shape="round" color="success" (click)="submit()">Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
